.forYou{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 100.3vh;
    scrollbar-width: none;

    .forYouHead{
        margin-left: 1rem;

        span{
            margin-left: 2rem;
            font-size: xx-large;
            position: relative;
            top: 0.25rem;
        }
    }

    section{
        background-attachment: fixed;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        margin: 5vh 0;
        width: 47vw;
        height: 90vh;
        border: 0.5rem solid var(--secondary);
        border-radius: var(--border-radius);

        img{
            width: 100%;
            max-height: 425px;
        }
    }

    .mobileSection{
        width: 100%;
        height: 90vh;
        border: none;
    }

    aside{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .likes{
            display: flex;
            gap: 1rem;
        }

        i{
            scale: 2;
        }
    }

    .tags{
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .tag{
        background-color: var(--secondary);
        border-radius: var(--border-radius);
        padding: 0.5rem;
    }

    .data{
        padding: 1rem;
        text-align: center;
    }
    
    .description{
        text-align: justify;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .arrow{
        text-align: center;
    }

    .sendComment{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

        button{
            background: none;
            border: none;
            color: var(--font);
        }
    }

    .comments{
        height: 60vh;
        overflow-y: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
}