.forYou{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5vh 0;
        width: 45vw;
        height: 90vh;
        background-color: var(--primary);

        img{
            width: 100%;
            max-height: 450px;
        }
    }

    .mobileSection{
        width: 90vh;
    }

    aside{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        i{
            scale: 2;
        }
    }
    .tags{
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .tag{
        background-color: var(--secondary);
        border-radius: var(--border-radius);
        padding: 0.5rem;
    }
}