.recipes{
    width: 90%;
    margin: auto;
    h1{
        padding: 1rem;
    }
}

.recipeCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    width: 325px;
    height: 400px;
    cursor: pointer;
    .myImg{
        max-width: 300px;
        max-height: 150px;
    }
}

.recipeCardContainer{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.tags{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.tag{
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin: auto;
}