.container{
    color: var(--font);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button{
        background: none;
        border: none;
        color: var(--font);
    }
}