*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div{
        width: 70%;
        text-align: center;
    }
}

.desktopNav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    a{
        text-decoration: none;
        color: black;
        padding: 1rem;
        border-radius: 50%;
    }
    .active{
        background-color: black;
        color: wheat;
    }
}

.mobileNav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white !important;
    
    a{
        text-decoration: none;
        color: black;
        font-size: larger;
    }

}
.toggled{
    height: 0;
    overflow: hidden;
}

.open{
    height: 90vh;
    position: absolute;
    background: fixed;
    left: 0;
    width: 100vw;
}

.headBar{
    padding: 1rem;
    text-align: center;
    background-color: lightgray;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1{
        font-size: 300%;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p{
        color: gray;
        font-size: 120%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    button{
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
        background-color: black;
        color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
}