#contentUpload {
  display: flex;
  gap: 50px;
  padding: 50px;
  background: white;
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 10px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

#diffLenDiv {
  display: flex;
  flex-direction: row;
  gap: 25px;
}



#textCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#lenSelect {
  width: 2em;
}

#textContDiv {
  gap: 10em;
}

#setName {
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  padding-top: 10px;
}

  #tagList {
    display: flex;
    gap: 10px;
  }

  .tag {
    background: rgb(109, 245, 141);
    color: green;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
  }

#setDescription {
  resize: none;
  min-height: 100px;
  padding: 10px;
  font-family: inherit;
}

#diffDiv,
#lenDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 15px;
  color: rgb(169, 169, 169);
}

select,
input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

#lenUnitSel {
  width: 80px;
}

input[type="submit"] {
  margin-top: 25px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: black;
}

#lenInline {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

#imagePreview, #imageUpload {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
}

.imageUploadDiv{
  height: 300px;
  width: 300px;
}

.fOff{
  display: none;
}

.noBorderForImageUploadDiv {
  border: none;
}

  .imageUploadDiv {
    flex: 1;
    background: rgba(255, 255, 255, 0.388) !important;
    border-radius: 10px;
    min-height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: lightgray;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    border: 2px dashed black;
  }

.imageUploadDiv:not(.has-file):hover {
  border: 2px dashed lightgray;
}

.imageUploadDiv.has-file {
  border: none;
  min-height: auto;
  padding: 0;
}