*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    ul{
        list-style: none;
        display: flex;
        gap: 15px;
    }

    a{
        text-decoration: none;
        color: black;
    }
}