*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary: #8B5E3C;
    --secondary: #D9A066;
    --back-ground: #FFF6E5;
    --font: #3A2F2A;
}

body{
    background-color: var(--back-ground);
    color: var(--font);
}

.headBar{
    padding: 1rem;
    text-align: center;
    background-color: var(--secondary);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1{
        font-size: 300%;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p{
        color: gray;
        font-size: 120%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    button{
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
        background-color: var(--font);
        color: var(--back-ground);
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
}

form{
    width: 50vw;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--primary), var(--back-ground) , var(--secondary));
    border: black solid 2px;
}